body {
  margin: 0px;
  background: pink;
  color: yellow;
}

h1 {
  padding: 20px;
  padding-left: 40px;
}

h2 {
  padding-left: 40px;
}

a {
  color: orange;
}

a:hover,
a:focus {
  background: orange;
  color: yellow;
}
